body{
    background-color: #eeeeee;
    font-family: Roboto,Arial,sans-serif;
}
*{
    padding: 0;
    margin: 0;
}



.container{
    margin: auto;
    overflow: hidden;
}

.grid-layout{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media(max-width: 768px) {
    .grid-layout{
        grid-template-columns: 1fr;
    }
}