.video-item{
display: flex;
    border-bottom: 1px solid lightgrey;
}

.itemImage{
    width: 180px;
    height:100px ;
}

.video-item .content{
    margin: 5px;
}

.content{
    text-align: center;
}